body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
}

main {
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
  width: 700px;
  height: 350px;
  display: flex;
}

section.left {
  background-color: hsl(241, 81%, 54%);
  border-radius: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  color: hsl(0, 9%, 84%);
  font-size: 18px;
  font-family: "Hanken Grotesk";
  font-weight: 800;
}

section.left > .circle {
  width: 30%;
  height: 30%;
  border-radius: 100%;
  background-color: hsla(241, 80%, 47%, 0.911);
  color: hsl(0, 9%, 84%);
  text-align: center;
}

section.left > .square {
  width: 75%;
  font-family: "Hanken Grotesk";
  text-align: center;
  color: hsla(0, 9%, 84%);
}

.square > .remark {
  font-family: "Hanken Grotesk";
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.left > .circle > p > span {
  font-weight: bolder;
  font-size: 45px;
  color: white;
}

section.right {
  background-color: white;
  border-radius: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary {
  margin-bottom: 0;
  margin-left: 1.6rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Hanken Grotesk";
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  font-size: small;
  width: 80%;
  height: 12%;
}

.icon > p > span {
  font-weight: bold;
}

.box-content {
  display: flex;
  gap: 0.3rem;
}

.first-box {
  background-color: #f8f5f5;
  border-radius: 5px;
}
.reaction {
  color: hsl(0, 100%, 67%);
}

.second-box {
  background-color: #f3f0eb;
  border-radius: 5px;
}
.memory {
  color: hsl(39, 100%, 56%);
}

.third-box {
  background-color: #f1fcf7;
  border-radius: 5px;
}
.verbal {
  color: hsl(166, 100%, 37%);
}

.fourth-box {
  background-color: #e9f1fd;
  border-radius: 5px;
}
.visual {
  color: hsl(234, 85%, 45%);
}

button {
  background-color: hsl(224, 30%, 27%);
  border: none;
  color: white;
  width: 80%;
  height: 12%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  main {
    width: 350px;
    height: 700px;
    display: flex;
    flex-direction: column;
  }

  section.left,
  section.right {
    width: 100%;
    height: 100%;
  }

  section.left {
    border-radius: 0 0 10px 10px;
  }

  section.right {
    border-radius: 0;
  }
}
